<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/first_page.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="container-fluid for width: 100%">
      <ul>
        <li><a href="/">Home</a></li>
        <li class="get_in">
          <a href="/leaderboards">LeaderBoards</a>
        </li>
        <li class="get_in"><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li id="batman">
          <a class="nav-link" href="batman.html">produced by<br />team_13</a>
        </li>
      </ul>
    </nav>

    <div
      class="d-flex justifyd-flex justify-content-center align-items-center flex-grow-1"
    >
      <div class="w-100" style="max-width: 400px">
        <div class="w-100 text-center">
          <p id="Logo">Faster</a></p>
        </div>
        <div class="p-4 rounded shadow p-3 mb-5 bg-body" data-bs-theme="dark">
          <form data-bs-theme="dark" style="margin: auto">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label text-light"
                >Email</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Email"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label text-light"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
              />
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label text-light" 
                     for="exampleCheck1"
                >Remember me</label>
            </div>
            <div>
              <button type="submit" class="btn btn-light w-100">Log In</button>
            </div>
            <div class="mb-3 pt-4 text-end">
              <p class="text-light">
                Dont have an account?
                <a href="sign_up_page.html">Register Now</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
